<footer class="footer ">
	<div class="container">
		<div class="row footer-manu">
			
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="copyright">{{ .Site.Params.copyright | markdownify }}<span> {{ range .Site.Menus.copyright }}<a href="{{ .URL | absURL}}">{{ .Name }}</a>.</span>{{ end }}</p>
			</div>
		</div>
		</div>
</footer>

<!-- Google Map API -->
{{ if .Site.Params.gmap.enable }}
<script src="{{ .Site.Params.gmap.gmap_api | safeURL }}"></script>
{{ end }}

<!-- JS Plugins -->
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<!-- google analitycs -->
{{ with .Site.Params.google_analitycs_id }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>


{{ end }}

