{{ range .Params.collaborateurs }}
      <div class="col-md-4 mt-20">
        <div class="featured-container p-4 bg-white">
            <a href="#" class="bio hover" data-toggle="modal" data-target="#bio-{{ .nom | urlize}}" aria-expanded="true"
            aria-controls="myModal-{{ .nom | urlize}}">
              <img class="bio-photo img-responsive"
                src="{{ if .photo}}{{ .photo | relURL }}{{ else}}https://placehold.co/400x400{{ end }}">
                <div class="staff-inner d-none">

              <h3 class="">{{ .nom | markdownify }}</h3>
                <p>{{ .titre | markdownify }}</p>
              </a>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="bio-{{ .nom | urlize}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ .nom }}</h4>
              </div>
              <div class="modal-body">
                {{ .bio | markdownify }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-small" data-dismiss="modal">X</button>
              </div>
            </div>
          </div>
        </div> <!-- modal -->


      </div> <!-- col -->
      {{ end }}
