{{ define "main" }}

{{$data := index .Site.Data .Site.Language.Lang }}

<!-- TITRE PAGE -->
<section id="{{.Kind}}" class="home-banner page-title p-md-0 p-sm-5 ">
  <div class="container banner-home-container d-flex align-items-center min-vh-100">
    <div class="row ">
      <div class="col-md-8">
        <div class="page-title-title">
          <h1 class="small text-uppercase">Pages</h1>
          <ul>
          {{range .Pages}}
          <li><a href="{{.Permalink}}">{{ .Title}}</a></li>
          {{end}}
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FIN TITRE PAGE -->
{{ end }}